@font-face {
  font-family: lexenda;
  src: url(LexendDeca-Regular.ttf);
}
@font-face {
  font-family: header;
  src: url(BigShouldersDisplay-Black.ttf);
}
body {
  padding: 0;
  margin: 0;
}

.row {
  /* padding: 20%; */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.column {
  height: 50%;
  width: 180px;
  flex-direction: column;
  display: flex;
  padding: 30px;
  font-size: 15px;
}
.orange {
  background-color: hsl(31, 77%, 52%);
}
.cyan {
  background-color: hsl(184, 100%, 22%);
}
.green {
  background-color: hsl(179, 100%, 13%);
}
h1 {
  color: white;
  font-family: header;
  font-size: 300;
}
p {
  text-align: left;
  color: white;
  font-family: lexenda;
  font-weight: 400;
  font-size: 15px;
}
button {
  /* color: hsl(31, 77%, 52%); */
  /* background-color: white; */
  font-weight: bold;
  padding: 5px;
  text-align: center;
  border: none;
  border-radius: 30px;
  width: 100px;
  margin-top: auto;
  cursor: pointer;
}

.left-boarder {
  border-radius: 9px 0 0 9px;
}
.right-border {
  border-radius: 0 9px 9px 0;
}
.bright {
  color: hsl(31, 77%, 52%);
  background-color: hsl(0, 0%, 95%);
}
.blue {
  color: hsl(184, 100%, 22%);
  background-color: hsl(0, 0%, 95%);
}
.btn-green {
  color: hsl(179, 100%, 13%);
  background-color: hsl(0, 0%, 95%);
}
.bright:hover {
  color: hsl(0, 0%, 95%);
  border: 3px solid hsl(0, 0%, 95%);
  background-color: hsl(31, 77%, 52%);
}
.blue:hover {
  background-color: hsl(184, 100%, 22%);
  color: hsl(0, 0%, 95%);
  border: 3px solid hsl(0, 0%, 95%);
}
.btn-green:hover {
  background-color: hsl(179, 100%, 13%);
  color: hsl(0, 0%, 95%);
  border: 3px solid hsl(0, 0%, 95%);
}
@media screen and (max-width: 375px) {
  .row {
    flex-direction: column;
    width: 90;
    height: 70%;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .orange,
  .cyan,
  .green {
    width: 65%;
    height: auto;
  }
}
/* @media screen and (max-width: 1440px) {
  .row {
    width: auto;
    height: 70%;
  }
} */
